<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()" *ngIf="isMobile">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Macro Proyectos</span>

  <span class="spacer"></span>

  <!-- Menú en pantalla grande -->
  <nav class="desktop-menu" *ngIf="!isMobile">
    <a mat-button routerLink="/inicio">Inicio</a>
    <a mat-button routerLink="/productos">Productos</a>
    <a mat-button routerLink="/contacto">Contacto</a>
  </nav>
</mat-toolbar>

<!-- Contenedor del menú lateral en móviles -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="'over'" [opened]="false" *ngIf="isMobile">
    <mat-nav-list>
      <a mat-list-item routerLink="/inicio" (click)="toggleSidenav()">Inicio</a>
      <a mat-list-item routerLink="/productos" (click)="toggleSidenav()"
        >Productos</a
      >
      <a mat-list-item routerLink="/contacto" (click)="toggleSidenav()"
        >Contacto</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
