<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Macro Proyectos</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleSidenav()"
      aria-controls="navbarNav"
      [attr.aria-expanded]="isSidenavOpen"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse"
      [ngClass]="{ show: isSidenavOpen, 'd-lg-flex': true }"
      id="navbarNav"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="closeSidenav()">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos" (click)="closeSidenav()"
            >Productos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto" (click)="closeSidenav()"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
