<section class="home-container">
  <mat-card class="card">
    <mat-card-title>Visión</mat-card-title>
    <mat-card-content>
      <p>
        Nuestra visión es ser líderes en el desarrollo de software,
        proporcionando soluciones innovadoras.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>Misión</mat-card-title>
    <mat-card-content>
      <p>
        Nuestra misión es ofrecer productos de alta calidad que optimicen los
        procesos de nuestros clientes.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>Valores</mat-card-title>
    <mat-card-content>
      <ul>
        <li>Innovación</li>
        <li>Compromiso</li>
        <li>Calidad</li>
        <li>Trabajo en equipo</li>
      </ul>
    </mat-card-content>
  </mat-card>
</section>
